<!DOCTYPE html>
<html>
  <head>
    <mate charest="utf-8" />
    <title>Laporan Retribusi</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <div class="container">
      <h1 style="text-align: center">Laporan Retribusi Sampah (Bulanan)</h1>
      <% if ('${req.query.payment_time}' === 'this-month') { %>
        <% if (${req.query.tps}) { %>
          <h3 style="text-align: center"><%= datas[0].payment_time.toLocaleString('en-GB', {timeZone: 'Asia/jakarta',hour12: false,month: 'long',year: 'numeric'}) %> - <%= datas[0].tps.name %></h3>
        <% } %>
      <% } %>
      <br>
      <table>
        <tr>
          <td>Tanggal</td>
          <td>: ${tanggal}</td>
        </tr>
        <tr>
          <td>Waktu</td>
          <td>: ${waktu}</td>
        </tr>
      </table>
      <table class="table table-bordered" style="border: 3px solid black; text-align: center;">
        <tr>
          <th style="border: 3px solid black">No</th>
          <th style="border: 3px solid black">Nama Pembayar</th>
          <th style="border: 3px solid black">TPS</th>
          <th style="border: 3px solid black">Keterangan Waktu</th>
          <th style="border: 3px solid black">Jumlah (Rp)</th>
          <th style="border: 3px solid black">Berat Akumulasi (Kg)</th>
        </tr>
        <% for(let i=0; i<datas.length; i++) {%>
          <tr>
            <td style="border: 3px solid black">
              <%= i+1 %>
            </td>
            <td style="border: 3px solid black">
              <% if (datas[i].pembayar != null) { %>
                <%= datas[i].pembayar %>
              <% } %>
            </td>
            <td style="border: 3px solid black">
              <% if (datas[i].tps != null) { %>
                <%= datas[i].tps.name %>
              <% } %>
            </td>
            <td style="border: 3px solid black">
              <% if (datas[i].payment_time) %>
                <%= datas[i].payment_time.toLocaleString('en-GB', {timeZone: 'Asia/jakarta',hour12: false,}) %>
            </td>
            <td style="border: 3px solid black">
              <%= datas[i].price %>
            </td>
            <td style="border: 3px solid black">
              nyusul
            </td>
          </tr>
        <% } %>
      </table>
    </div>
  </body>
</html>