extends baseEmail

block content
  p Hi #{firstName},
  p Lupa password anda? Silahkan klik tombol dibawah ini untuk mereset password anda.
  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
              tr
                td
                  a(href=`${url}`, target='_blank') Reset your password
  p Jika kamu tidak lupa password kamu, abaikan email ini!
